.star-list {
    color: gold;
}

.icon-img {
    width: 40px;
    height: 60px;
}

.faction-card {

    color: #fff;
    padding: 4px;
    border-radius: 6px;
    margin-top: 10px;
    display: inline-block;
}

.faction-inner {
    background: #34495e;
    border-radius: 6px;
    padding: 10px;
    font-size: 12px;
}

.faction-inner2 {
    background: #2980b9;
    border-radius: 6px;
    padding: 10px;
    font-size: 12px;
}
.faction-title{
    font-size: 18px;
}